*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 1rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 6rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    h1:hover {
        font-size: 5rem;
    }
}
@media screen and (max-width: 768px) {
    h1:hover {
        font-size: 4rem;
    }
}
@media screen and (max-width: 600px) {
    h1:hover {
        font-size: 3rem;
    }
}
@media screen and (max-width: 480px) {
    h1:hover {
        font-size: 2rem;
    }
}
@media screen and (max-width: 320px) {
    h1:hover {
        font-size: 1rem;
    }
}
