
@font-face {
    font-family: soehne;
    src: url(fonts/test-soehne-breit-buch.woff2);
}

html {
    background-color: rgb(175, 139, 223);
}

.calendar {
    width: 1000px;
    height: 100px;
    margin: auto;
    text-align: center;
    color: white;
}

.month {
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: soehne;
    font-size: 50px;
}

.week_flex {
    margin: auto;
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    align-items: center;
}

.week {
    display: flex;
    width: 136px;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    font-family: soehne;
    font-size: 15px;
    justify-content: center;
}

.day {
    margin: 20px;
    width:100%;
    height: 100px;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-family: soehne;
    text-align: left;
}

.d {
    justify-content: space-around;
    margin: 13px;
    padding: 8px;
    border: 2px black;
    border: 2px dotted rgb(255, 255, 255);
    height: 90px;
    width: 90px;
}
